<center><h4>Numbers that are divisible by 3 should return the word "Mined".<h4>
<h4>Numbers that are divisible by 5 should return the word "Minds".<h4>
<h4>If divisible by both 3 and 5, "Mined Minds" is returned.<h4>
<h4>Otherwise, your number is returned.</h4>

Your entry was <%= number%>.
<br>
Your result follows: <%= result%>.
<br>
<br>
<a href = "/"> Enter your next number </a>